.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
